<app-pop-up-header></app-pop-up-header>
<div class="d-flex flex-column text-center font-monospace">
  <div class="border border-1 border-secondary rounded profile-img-container mx-auto m-2">
    <img src="assets/images/login.jpg" style="height: 100%;width:100%"/>
  </div>
  <div class="m-1">
    <label class="text-black-50 m-2 p-2 border-bottom border-2 h4">Username</label>
    <label class="text-black-50 m-2 p-2 border-bottom border-2 h4">Tip korisnika</label>
  </div>
  <div class="m-1">
    <label class="text-black-50 m-2 p-2 border-bottom border-2 h4">Ime</label>
    <label class="text-black-50 m-2 p-2 border-bottom border-2 h4">Prezime</label>
  </div>
  <div class="m-1">
    <label class="text-black-50 m-2 p-2 border-bottom border-2 h5">Datum rodjenja</label>
    <label class="text-black-50 m-2 p-2 border-bottom border-2 h5">Email</label>
  </div>
  <div class="m-1">
    <label class="text-black-50 m-2 p-2 border-bottom border-2 h5 w-25" >Adresa</label>
  </div>
  <div class="m-1">
    <button class="btn btn-danger m-2 p-1">Edit profile</button>
  </div>
</div>
