<div class="d-flex flex-column text-center font-monospace bg-dark">
  <div
    class="border border-1 border-secondary rounded profile-img-container mx-auto m-2"
  >
    <img
      [src]="imagePath"
      style="height: 100%; width: 100%"
      onerror="this.src='assets/images/login.jpg'"
    />
  </div>
  <div *ngIf="!isEditing">
    <div class="m-1">
      <label class="text-secondary m-2 p-2 border-bottom border-2 h4">{{
        user ? user.username : "Username"
      }}</label>
      <label
        class="text-secondary m-2 p-2 border-bottom border-green border-2 h4"
        >{{ user ? user.role : "Profile type" }}</label
      >
    </div>
    <div class="m-1">
      <label class="text-secondary m-2 p-2 border-bottom border-2 h4">{{
        user ? user.name : "Name"
      }}</label>
      <label class="text-secondary m-2 p-2 border-bottom border-2 h4">{{
        user ? user.lastName : "Last Name"
      }}</label>
    </div>
    <div class="m-1">
      <label class="text-secondary m-2 p-2 border-bottom border-2 h5">{{
        user ? (user.dateOfBirth | date) : "Birthday"
      }}</label>
      <label class="text-secondary m-2 p-2 border-bottom border-2 h5">{{
        user ? user.email : "Email"
      }}</label>
    </div>
    <div class="m-1">
      <label class="text-secondary m-2 p-2 border-bottom border-2 h5 w-25">{{
        user ? user.address : "Address"
      }}</label>
    </div>
    <div class="m-1">
      <button class="btn btn-danger m-2 p-1" (click)="onEditEnableClick()">
        Edit profile
      </button>
    </div>
  </div>
  <div *ngIf="isEditing" class="d-flex flex-column">
    <form (submit)="onSubmit()" [formGroup]="userUpdateForm">
      <div class="d-flex flex-row justify-content-center text-center">
        <input
          type="file"
          #file
          hidden
          id="image"
          (change)="onFileChange($event)"
          accept="image/jpeg,image/jpg"
        />
        <button class="btn btn-success" (click)="file.click()" type="button">
          Change profile picture
        </button>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column">
          <input
            class="bg-dark border-secondary m-2 p-2 h5 text-secondary text-center"
            [value]="user?.name"
            formControlName="name"
          />
          <small
            *ngIf="
              userUpdateForm.controls.name.touched &&
              userUpdateForm.controls.name.errors?.required
            "
            class="text-danger"
            >Name is required</small
          >
        </div>
        <div class="d-flex flex-column">
          <input
            class="bg-dark border-secondary m-2 p-2 h5 text-secondary text-center"
            [value]="user?.lastName"
            formControlName="lastName"
          />
          <small
            *ngIf="
              userUpdateForm.controls.lastName.touched &&
              userUpdateForm.controls.lastName.errors?.required
            "
            class="text-danger"
            >Last Name is required</small
          >
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center m-3">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row align-items-center justify-content-end">
            <input
              class="bg-dark border-secondary m-2 p-2 h5 text-secondary text-center"
              type="text"
              formControlName="dateOfBirth"
              [value]="parseDate(user?.dateOfBirth)"
              (change)="onDateChange($event)"
              placeholder="year-month-date"
            />
          </div>

          <small
            *ngIf="
              userUpdateForm.controls.dateOfBirth.touched &&
              (userUpdateForm.controls.dateOfBirth.errors?.required ||
                userUpdateForm.controls.dateOfBirth.errors?.date)
            "
            class="text-danger"
            >Date is invalid</small
          >
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column w-25">
          <input
            class="bg-dark border-secondary m-2 p-2 h5 text-secondary text-center"
            [value]="user?.address"
            formControlName="address"
          />
          <small
            *ngIf="
              userUpdateForm.controls.address.touched &&
              userUpdateForm.controls.address.errors?.required
            "
            class="text-danger"
            >Address is required</small
          >
        </div>
      </div>
      <div class="m-1">
        <button
          class="btn btn-danger m-2 p-1"
          [disabled]="userUpdateForm.invalid"
        >
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
