<div class="w-100 row d-flex align-items-center font-monospace">
    <div class="col w-50 rounded bg-white text-success text-center">
      <span class="h4 dancing-font">Hi username</span><br/>
      <div class="row">
        <div role="button" class="border border-1 border-secondary rounded card m-3 p-2 shadow-lg">
          <a class="a-card">
            <span class="text-success h2 align-middle">Profile</span>
          </a>
        </div>
        <div role="button" class="border border-1 border-secondary rounded card m-3 p-2 shadow-lg">
          <a class="a-card">
            <span class="text-success h2">New / Current order</span>
          </a>
        </div>
        <div role="button" class="border border-1 border-secondary rounded card m-3 p-2 shadow-lg">
          <a class="a-card">
            <span class="text-success h2">Ordering history</span>
          </a>
        </div>
        <div role="button" class="border border-1 border-secondary rounded card m-3 p-2 shadow-lg">
          <a class="a-card">
            <span class="text-success h2">Pending requests</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div role="button" class="border border-1 border-secondary rounded card m-3 p-2 shadow-lg">
          <a class="a-card">
            <span class="text-success h2">Pending orders</span>
          </a>
        </div>
        <div role="button" class="border border-1 border-secondary rounded card m-3 p-2 shadow-lg">
          <a class="a-card">
            <span class="text-success h2">Delivery history</span>
          </a>
        </div>
        <div role="button" class="border border-1 border-secondary rounded card m-3 p-2 shadow-lg">
          <a class="a-card">
            <span class="text-success h2">Running order</span>
          </a>
        </div>
        <div role="button" class="border border-1 border-secondary rounded card m-3 p-2 shadow-lg">
          <a class="a-card">
            <span class="text-success h2">All orders</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div role="button" class="border border-1 border-secondary rounded card m-3 p-2 shadow-lg">
          <a class="a-card">
            <span class="text-success h2">Add article</span>
          </a>
        </div>
      </div>
    </div>
  <div class="col w-50 d-flex justify-content-center">
    <img src="assets/images/login.jpg" class="image-100"/>
  </div>
  </div>

